.theDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:20px;
}

#closeBtn{
    margin-left: 220px;
    margin-right: 0;
    font-size: 20px;
    font-weight:400;
    overflow-y: hidden !important;
    color:rgb(58, 57, 57);
}

.close-icon {
    position: absolute;
    transform: translate(50%, -50%);
    border: none;
    background: none;
    float:right;

  }

.input{
    width: 100%;
}

.bg{
    width: 100%;
    background-color: rgba(124, 99, 192, 0.826);
}

// .close {
  
//     cursor:pointer;
  
//     &:after, &:before {
      
//       content:"";
//       height:20px;
//       width:20px;
//       border-top:1px solid #000;
//       position:absolute;
//       top:7px;
//       right:-8px;
//       @include rotate(-45deg);
    
//     }
        
//     &:before {
          
//       right:6px;
//       @include rotate(45deg);
    
//     }
    
//     &:hover {
           
//       @include opacity(0.3);
      
//     }
    
//   }




